/* .createNewMessage {
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: center;

	border: 2px solid rgb(156, 221, 156);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	margin: 50px 40px 20px 450px;
	background-color: rgb(248, 246, 246);
}
.createNewMessage > form {
	align-self: flex-start;
	display: grid;
	grid-template-columns: 1fr;
	max-width: 480px;
	margin: 15px;
}

.createNewMessage > form > textarea {
	width: 500px;
	height: 150px;
	border: 0.5px solid rgb(156, 221, 156);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	outline: none;
}
.create-post-check {
	width: 20px;
	height: 20px;
	border: none;
}

.createNewMessage > form > input {
	border: 0.5px solid rgb(156, 221, 156);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.createNewMessage > form > button {
	border: none;
	font-size: x-large;
	color: grey;
	cursor: pointer;
	border-radius: 20px;
	margin: 10px 10px 15px 15px;
	border: 0.5px solid rgb(156, 221, 156);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	outline: none;
}

.createNewMessage > form > h3 {
	padding: 0;
	margin: 5px;
}
@media (max-width: 1100px) {
	.createNewMessage {
		width: 50%;
		border: 2px solid rgb(156, 221, 156);
		box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
		align-items: flex-start;
		align-content: flex-start;
	}
	.createNewMessage > form {
		align-self: flex-start;
		display: grid;
		grid-template-columns: 1fr;
		max-width: 400px;
		margin: 15px;
	}
	.createNewMessage > form > h3 {
		margin: 0;
		padding: 0;
	}
	.createNewMessage > form > textarea {
		width: 200px;
		height: 200px;
	}
}
@media (max-width: 780px) {
	.createNewMessage {
		width: 80%;
		border: 2px solid rgb(156, 221, 156);
		box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

		display: flex;
		align-items: flex-start;
		align-content: flex-start;
	}

	.createNewMessage > form {
		align-self: flex-start;
		display: grid;
		grid-template-columns: 1fr;
		max-width: 190px;
	}
	.createNewMessage > form > input {
		width: 20%;
	}

	.createNewMessage > form > h3 {
		margin: 0;
		padding: 0;
	}
	.createNewMessage > form > textarea {
		width: 100px;
		height: 100px;
	}
}
@media (max-width: 600px) {
	.createNewMessage {
		width: 90%;
		border: 2px solid rgb(156, 221, 156);
		box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
		display: flex;
		align-items: flex-start;
		align-content: flex-start;
	}

	.createNewMessage > form {
		align-self: flex-start;
		display: grid;
		grid-template-columns: 1fr;
		max-width: 200px;
		background-color: red;
	}

	.createNewMessage > form > h3 {
		margin: 0;
		padding: 0;
	}

	.createNewMessage > form > textarea {
		width: 50px;
		height: 100px;
	}
}
.createNewMessage > form > .MuiSvgIcon-root {
	display: flex;
	margin-left: 500px;
}
.createNewMessage > form > input {
	height: 40px;
	margin: 5px;
	outline: none;
} */
